@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roobert", sans-serif;
  --font-serif: "GT Super", "Recoleta", serif;
}

body {
  background-color: #F0EEE6;
  color: #141413;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}